body{
 background-color:#c9d6ff;
 background:linear-gradient(to right,#e2e2e2,
 #c9d6ff)
 margin:0px;
 font-family:Comic Sans MS;
 background-image:url("2.jpg");
background-repeat:no-repeat;
background-size:100%;
text-align:center;
}
fieldset{border-radius:8px;
}
p{
	font-family:Brush Script MT
}

button{
	color:white;
	background-color:hsl(0,0%,25%);
	font-family:Brush Script MT;
	font-size:20px;
	border:none;
	color:#ffffff;
	padding:12px 24px;
	margin-inline:12px;
	border-radius:8px;
	cursor:pointer;
}
button:hover{
	background-color:hsl(0,0%,10%);
	
}
main{
	margin-left:20px;
	margin-right:20px;
}
h1{
	text-align:center;
	font-family:sans-serif;
}
.navbar ul{
	list-style-type:none;
	background-color:hsl(0,0%,25%);
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.navbar a{
	color:white;
	text-decoration:none;
	padding:15px;
	display:block;
	text-align:center;
}
.navbar a:hover{
	background-color:hsl(0,0%,10%);
}
.navbar li{
	float:left;
}
marquee{
	background-color:#c9d6ff;
}
.navnbar input li{
	text-align:center;
}
.10{
	display:flex;
	justify-content:center;
	align-items:center;
	
}
hr{
	padding:1px 0px 0px 1px;
	margin:1px 0px 0px 1px;
	
}